.head-body-button {
    background-color: #eb7d4b;
    border-color: #eb7d4b;
    margin: 60px auto 120px;
}

.works-button {
    background-color: #17c2a4;
    border-color: #17c2a4;
    margin: 0 auto 120px;
}

.contacts-button{
    background-color: #30bae7;
    border-color: #30bae7;
    margin: 60px auto 120px;
}

.main-button {
    color: white;
    width: 295px;
    height: 65px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    border-width: 4px;
    border-radius: 5px;
    font-size: 18px;
}

.main-button:focus,
.main-button:active {
    outline: none;
}