.footer {
    background: #344b8e;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
}

.footer-links li {
    list-style: none;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover{
    color: #30bae7;
}